.everything{
	width: 1320px;
	margin: 0 auto;
	display: block;
}

// @media only screen and (min-width:1200px){
// 	.everything {width: 1200px}
// }

// @media only screen and (min-width:768px) and (max-width: 959px){
// 	.everything {width: 768px}
// }

// @media only screen and (min-width:480px) and (max-width: 767px){
// 	.everything {width: 456px}
// }

@media only screen and (max-width: 1300px){
	.everything {width: 1010px}
}

@media only screen and (max-width: 950px){
	.everything {width: 300px}
}




.media{
	margin: $margin_stack;
	overflow: hidden;
	zoom:1;

	width: 310px;
	height: 150px;
	float: left;

	.img{
		float:left; 
        margin-right: $margin_stack;

        img{
			display: block;
			@extend %img_comment;
        }
	}
    
   	.imgExt{

		float: right;
		margin-left: $margin_stack;
	
		img{
			display: block;

		}
   	}

	.bd{
		overflow: hidden;
		_overflow: visible; 
		zoom:1;

		.name{
			@extend %text_xl;
		}

		.date{
			@extend %text_l;
		}

		.status{
			@extend %text_l;
		}
		
		.comment_name{
			@extend %text_l;
		}
		.comment{
			@extend %text_m;
		}
		.comment_date{
			@extend %text_m;
		}
        .img_comment{
			@extend %img_comment;
        }

	}
}
	


%img_profile{
	width: 150px;
	height: 150px;
}

%img_comment{
	width: 100px;
	height: 100px;
}

%text_xl{
	font-size: 16pt;
}

%text_l{
	font-size: 14pt;
}

%text_m{
	font-size: 13pt;
}






