
.everything{
	width: 1000px;
	margin: 0 auto;
}



.media{
	margin: $margin_stack;
	overflow: hidden;
	zoom:1;

	width: 310px;
	height: 150px;
	float: left;

	.img{
		float:left; 
        margin-right: $margin_stack;

        img{
			display: block;
			@extend %img_comment;
        }
	}
    
   	.imgExt{

		float: right;
		margin-left: $margin_stack;
	
		img{
			display: block;

		}
   	}

	.bd{
		overflow: hidden;
		_overflow: visible; 
		zoom:1;

		.name{
			@extend %text_xl;
		}

		.date{
			@extend %text_l;
		}

		.status{
			@extend %text_l;
		}
		
		.comment_name{
			@extend %text_l;
		}
		.comment{
			@extend %text_m;
		}
		.comment_date{
			@extend %text_m;
		}
        .img_comment{
			@extend %img_comment;
        }

	}
}
	


%img_profile{
	width: 150px;
	height: 150px;
}

%img_comment{
	width: 100px;
	height: 100px;
}

%text_xl{
	font-size: 16pt;
}

%text_l{
	font-size: 14pt;
}

%text_m{
	font-size: 13pt;
}






