<!DOCTYPE html>
<html>
<head>
	<title>Pagina de contacto</title>
</head>
<body>
	<h1>Welcome to this timetracking tool</h1>
	<br>
	<h2>Contacts Page</h2>
	<p> Send me an email to <a href="ironwhore@ironwhore.com">ironwhore@ironwhore.com</a></p>
	<button type"button" class"btn btn-success"> send </button>
	<br>
	<br>
	<br>
	<p> Go back to home page <a href="/">home</a></p>

</body>
</html>